*{
    margin:0;
    padding: 0;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background-color:red;
}



p{
    margin:right 20px;
}

.display a{
    display: inline-block;
    padding: 20px;
}
footer{
    text-align: center;
    background-color:red;
    position:fixed;
    bottom: 0;
    width: 100%;
    font-size:20px;
}